/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .field_with_errors {
    background-color: Pink;
    display: table;
  }

  fieldset.author {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 1.2rem !important;
  }

  fieldset.author > legend{
    width: max-content !important;
    background-color: #fff !important;
    margin: -1.0rem 0.2rem 0.5rem 0.5rem !important;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
  }
