<form>
  <input id="name" type="text" size="10" value="nobody" />：
  <input id="body" type="text" size="40" 
    placeholder="メッセージを入力してください" />
  <input id="btn" type="button" value="送信" />
</form>
<hr />
<div id ="messages">
  <%= render @messages %>
</div>
