div{
    background:url("./assets/スクリーンショット\ 2025-03-19\ 133502.png") right bottom no-repeat
}

.px{
    background-size: 150px 50px;
}
.per{
    background-size: 50% 50%;
}
.cov{
    background-size: cover;
}
.con{
    background-size: contain;
}


/* 背景画像の縮尺はback-ground-sizeの指定方法で調節できる。
見切れたくない場合はcontainを使う。
要素全体を埋めたいならconverを使う 
*/