*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
section{
    /* 親要素の90% */
    width: 90%;
    /* ボーダー内側上部の余白 */
    padding-top: 20px;
    /* ボーダー内側下部の余白 */
    padding-bottom: 40px;
    /* 上　左右　下　の左右のボーダー外側の余白 */
    margin: 40px auto 0;
    border:1px dashed #ccc;
}

h2{
    /* 
    em:
    fontsizeとそれ以外のプロパティで基準となるものが変わる 
    */
    /* 
    fontsize:　
    ①　親要素のfontsizeを基準とする。
    ②　親要素での指定がない場合はfontsizeが指定されている直近の祖先要素が基準となる。
    ③　指定されているものが見つからない場合はデフォルトサイズ 16px
     */
    /* 
    fontsize以外:　
    ・　現在の要素のfontsizeを基準とする。
     */
    margin-bottom: 1em;
}

.flex-container{
    display: flex;
    /* 
    flexboxの考え方
    主軸:アイテムが並ぶ向き
    交差軸:主軸と垂直の向き

    justify-content:主軸方向での並び方
    align-items:交差軸方向での並び方
    */

    /* 主軸(横)方向に均等な間隔で並ぶ */
    justify-content: space-around
}

.flex-item{
    background-color: #1f1212;
    color: #ccc;
    border: 1px solid#fc0202;
    padding: 1em;
    /* flex-basis:flex-itemの基本サイズ。親要素が基準 */
    /* 4つ中3つは90%を希望 */
    /* 最初の一つはコンテンツサイズ分を希望 */
    /* 総量が足りないのですべて縮む。 */
    flex-basis:30%;
}

.flex-item dt{
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

@media screen and (max-width:768px){
    h2{
        font-size: 1.1em;
    }
    .flex-container{
        flex-direction: column;
    }
    .flex-item{
        margin: 0 1em 1em;
    }
    
}